<nb-card>
  <nb-card-header>
    <button
      class="back-button"
      ghost
      nbButton
      size="tiny"
      routerLink="/projects"
    >
      <nb-icon icon="corner-up-left-outline"></nb-icon>
    </button>
    {{project.name}}
  </nb-card-header>
  <nb-card-body>
    <nb-layout>
      <nb-layout-column>
        <p [innerHTML]="project.description"></p>
        <p>{{project.techDescription}}</p>
      </nb-layout-column>
      <nb-layout-column>
        <div class="gallery">
          <img *ngFor="let image of project.images" [src]="image">
        </div>
      </nb-layout-column>
    </nb-layout>
  </nb-card-body>
</nb-card>
