<nb-card>
  <nb-card-header>
    <button
      class="back-button"
      ghost
      nbButton
      size="tiny"
      routerLink="/projects"
    >
      <nb-icon icon="corner-up-left-outline"></nb-icon>
    </button>
    {{project.name}}
  </nb-card-header>
  <nb-card-body>
    <div class="project-details">
      <div class="project-description">
        <small>Description</small>
        <p [innerHTML]="project.description"></p>
        <small>Tech description</small>
        <p [innerHTML]="project.techDescription"></p>
      </div>
      <div class="project-media">
        <img *ngFor="let image of project.images; let index=index" (click)="show(index)" [src]="image | imageThumb">
      </div>
    </div>
  </nb-card-body>
</nb-card>
