.project-details {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  .project-description {
    flex: 5;
    min-width: 300px;
    margin-right: 20px;
  }

  .project-media {
    flex: 3;
    min-width: 300px;

    img {
      width: 100%;
      cursor: pointer;
    }
  }
}

.back-button {
  margin-right: 20px;
}
