.container {

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  max-width: 1000px;
  margin: 0 auto;

  .about-text {
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
    max-width: 420px;
  }
}
